

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.main-nav {
    display: flex;
}

.main-nav ul {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    list-style: none;
}

.main-nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: #E70729;
}
